page-signup {
  form{
    background:url('../../assets/img/projectBackground.png') center/cover no-repeat;
    padding-top:90px;
  }
  .item-md {
    border:none;
    width:80%;
    margin:10px auto;
  }
  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border:none;
  }
}
