$color: #4db6ac;
page-profile {
  ion-content {
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 16px;
    .profile-details--row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .profile--image {
        width: 40%;
        height: 40%;
      }
      .profile-about--content {
        margin-left: 20px;
        font-size: 18px;
        .details--row {
          display: flex;
          flex-direction: row;
          background: rgba(255, 255, 255, 0.7);
          padding: 0 15px;
          .details--type {
            width: 60px;
          }
        }
      }
    }
    .more-information--row {
      width: 100%;
      background: $color;
      margin-top: 10px;
      h5 {
        width: 100%;
        text-align: center;
        padding-top: 15px;
      }

    }
    .details--row {
      display: flex;
      flex-direction: row;
      background: rgba(255, 255, 255, 0.7);
      width: 100%;
      padding: 0 10px;
      .details--type {
        width: 150px;
        font-weight: bold;
      }
    }
    span:first-child {
      margin-top: 5px;
    }
    p {
      margin-top: 10px;
    }
    .button-content {
      width: 75%;
      height: 35px;
      background: #4db6ac;
      color: white;
      font-size: 18px;
      font-weight: 500;
      margin-top: 15px;
    }
  }
}
