page-diet {
  h4{
    width:100%;
    text-align:center;
    margin-top:15px;
  }
  h5 {
    padding-top:15px;
    width:100%;
    text-align:center;
  }
  .diet-name--content {
    color:black;
    font-size:15px;
    font-weight:500;
    margin:0;
  }
  .diet-type--content {
    color:darkgrey;
    font-size:13px;
    font-weight:500;
    margin:4px 0 0 0;
  }
}
