choose-modal {
  background: rgba(255, 255, 255, .6);
  .modal--content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    .modal--section-diet {
      height: 75%;
      width: 85%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      span {
        margin:25px;
      }
    }
    .modal--section {
      height: 45%;
      width: 85%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      span {
        margin:25px;
      }
    }
    .button-content {
      width: 75%;
      height: 35px;
      background: #4db6ac;
      color: white;
      font-size: 18px;
      font-weight: 500;
      margin-top: 15px;
    }
  }

}
