edit-profile {
  h3 {
    margin-left: 15px;
  }
  .photo-edit--row {
    width: 100%;
    height: 10%;
    margin-top:35px;
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
      width: 10%;
      height: 10%;
      border-radius: 50%;
      float: left;
      margin-left: 25px;
    }
    span {
      margin-left: 15px;
      color: grey;
    }
  }
  .name--surname--row {
    width: 130px;
    height: 10%;
    margin:auto;
    margin-right:30px;
    span {
      color: grey;
      font-size: 17px;
      margin-bottom: 5px;
    }
    input {
      height: 40px;
      margin: 5px auto;
    }
  }
  .one-option--row {
    width: 300px;
    height: 10%;
    margin: 15px auto;
    span {
      width: 100%;
      font-size: 17px;
      color: grey;
    }
    input {
      height: 40px;
      margin: 5px auto;
      width: 100%;
    }
  }
  .buttons-row {
    width: 100%;
    height: 40px;
    margin-top:25px;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    padding-bottom:25px;
    button {
      width:40%;
      height: 40px;
      font-size:20px;
      text-transform: uppercase;
      background:white;
      font-weight:bold;
      border:4px solid #4db6ac;
    }
  }
}
